<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input type="text" matInput name="title" ngModel required placeholder="Post Title" #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="2" name="content" ngModel required placeholder="Post Content"
                #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save post</button>
    </form>
</mat-card>